body {
    padding-bottom: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #125b0c;
}

.navbar a {
    color: #fff;
}

.btn-main {
    padding: 11px 16px 10px 16px;
    font-size: 17px;
    background-color: #125b0c;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-striped > tbody > tr.fixed {
   background-color: #dff0d8;
}

.table-striped > tbody > tr.fixed:hover > td,
.table-striped > tbody > tr.fixed:hover + tr > td {
    border-top-color: #229832;
}

.table-striped > tbody > tr.fixed:nth-child(2n+1) {
   background-color: #ceeac3;
}

.table-striped > tbody > tr.variable {
   background-color: #e1f1f9;
}

.table-striped > tbody > tr.variable:hover > td,
.table-striped > tbody > tr.variable:hover + tr > td {
    border-top-color: #266f94;
}

.table-striped > tbody > tr.variable:nth-child(2n+1) {
   background-color: #d9edf7;
}

.table-striped > tbody > tr.fixed.current > td, 
.table-striped > tbody > tr.fixed.current > th,
.table-striped > tbody > tr.fixed.current + tr > td, 
.table-striped > tbody > tr.fixed.current + tr > th {
   border-top-color: #229832;
   border-width: 2px;
}

.table-striped > tbody > tr.variable.current > td, 
.table-striped > tbody > tr.variable.current > th,
.table-striped > tbody > tr.variable.current + tr > td, 
.table-striped > tbody > tr.variable.current + tr > th {
   border-top-color: #266f94;
   border-width: 2px;
}

.table-condensed > tbody > tr > td, 
.table-condensed > thead > tr > th {
    padding: 5px 15px;
}

.popover{
    max-width: 100%;
}

.input-group-addon {
    font-family: inherit;
}

.year {
    background-color: #efefef !important;
    border-top: solid 1px #999999 !important;
}

#mortgage-summary {
    font-size: 18px;
}

footer p {
    font-size: 14px;
}

.panel-variables {
  border-color: #ceeac3;
}

.panel-variables > .panel-heading {
  background-color: #ceeac3;
  border-color: #ceeac3;
}

.form-variables {
    margin-top: 15px;
}