body {
    padding-bottom: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #125b0c;
}

    .navbar a {
        color: #fff;
    }

.btn-main {
    padding: 11px 16px 10px 16px;
    font-size: 17px;
    background-color: #125b0c;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-striped > tbody > tr.fixed {
    background-color: #dff0d8;
}

    .table-striped > tbody > tr.fixed:hover > td,
    .table-striped > tbody > tr.fixed:hover + tr > td {
        border-top-color: #229832;
    }

    .table-striped > tbody > tr.fixed:nth-child(2n+1) {
        background-color: #ceeac3;
    }

.table-striped > tbody > tr.variable {
    background-color: #e1f1f9;
}

    .table-striped > tbody > tr.variable:hover > td,
    .table-striped > tbody > tr.variable:hover + tr > td {
        border-top-color: #266f94;
    }

    .table-striped > tbody > tr.variable:nth-child(2n+1) {
        background-color: #d9edf7;
    }

.table-striped > tbody > tr.fixed.current > td,
.table-striped > tbody > tr.fixed.current > th,
.table-striped > tbody > tr.fixed.current + tr > td,
.table-striped > tbody > tr.fixed.current + tr > th {
    border-top-color: #229832;
    border-width: 2px;
}

.table-striped > tbody > tr.variable.current > td,
.table-striped > tbody > tr.variable.current > th,
.table-striped > tbody > tr.variable.current + tr > td,
.table-striped > tbody > tr.variable.current + tr > th {
    border-top-color: #266f94;
    border-width: 2px;
}

.table-condensed > tbody > tr > td,
.table-condensed > thead > tr > th {
    padding: 5px 15px;
}

.popover {
    max-width: 100%;
}

.input-group-addon {
    font-family: inherit;
}

.year {
    background-color: #efefef !important;
    border-top: solid 1px #999999 !important;
}

#mortgage-summary {
    font-size: 18px;
}

footer p {
    font-size: 14px;
}

.panel-variables {
    border-color: #ceeac3;
}

    .panel-variables > .panel-heading {
        background-color: #ceeac3;
        border-color: #ceeac3;
    }

.form-variables {
    margin-top: 15px;
}

.form-info .form-control-static {
    min-height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.field-validation-error {
    color: #cc0000;
}

@font-face {
    font-family: 'mortgagecruncher';
    src: url('../fonts/mortgagecruncher.eot?44204889');
    src: url('../fonts/mortgagecruncher.eot?44204889#iefix') format('embedded-opentype'), url('../fonts/mortgagecruncher.woff2?44204889') format('woff2'), url('../fonts/mortgagecruncher.woff?44204889') format('woff'), url('../fonts/mortgagecruncher.ttf?44204889') format('truetype'), url('../fonts/mortgagecruncher.svg?44204889#mortgagecruncher') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mortgagecruncher";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: '\e800';
}
